.sign__input {
    margin: 30px 0 0;
    padding: 0 0 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #000;
    color: #fff;
}

@media (max-width: 767px) {
    .sign__input {
        font-weight: 400;
    }
  }